/* body {
  background-color: powderblue; */
/* #firstname { for id 
  background-color: yellow;
} */
/* .intro { for class
  background-color: yellow;
} */
/* .jumbotron jumbotron-fluid {
  background: hotpink;
}

.container {
  background: green;
} */
